@use "primeicons/primeicons.css";

@use "./reset.scss";
@use "./global-variables.scss";

body {
	font-family: var(--font-size);
	background-color: var(--background-color);
}

#app {
	position: relative;
	overflow: clip;
	min-height: 100vh;
	display: grid;
	place-items: center;
}
